<mat-card class="card center">
    <div class="row max-height">
        <div class="accent-border-left"></div>
        <div class="column">
            <div class="heading-one-bold">Update candidate profile</div>
            <img class="image center" src="../../../assets/images/update-profile.svg" alt="test-invite" />
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="column">
            <form [formGroup]="candidateForm">
                <div class="inline-row">
                    <div class="inline-column">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input formControlName="firstName" type="text" matInput
                                    [(ngModel)]="candidate.firstName" placeholder="First Name" name="firstName"
                                    required />
                                <mat-error *ngIf="candidateForm.invalid">First name is invalid</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Email-Address</mat-label>
                                <input formControlName="emailAddress" [(ngModel)]="candidate.emailAddress" type="email"
                                    matInput placeholder="Email-Address" name="emailAddress" required />
                                <mat-error *ngIf="candidateForm.invalid">Email-Address is invalid</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <!-- {{candidate.position.name}} -->
                            <mat-form-field appearance="outline">
                                <mat-label>Position</mat-label>
                                <mat-select (closed)="onClosePosition()" formControlName="position" [(ngModel)]="candidate.position.id"
                                    name="position" required>
                                    <input class="search-input" (keyup)="positionOnKey($event)"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="searchValuePosition" matInput
                                        placeholder="Search a position">
                                    <mat-option *ngFor="let position of allPositions" [value]="position.id">{{
                                        position.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="candidateForm.invalid">Position is invalid</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="inline-column">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input formControlName="lastName" [(ngModel)]="candidate.lastName" type="text" matInput
                                    placeholder="Last Name" name="lastName" required />
                                <mat-error *ngIf="candidateForm.invalid">Last name is invalid</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Phone Number</mat-label>
                                <input formControlName="phoneNumber" [(ngModel)]="candidate.phoneNumber" type="text"
                                    matInput placeholder="Phone Number" name="phoneNumber" required />
                                <mat-error *ngIf="candidateForm.invalid">Phone number is invalid</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="empty-div"></div>
                    </div>
                </div>
                <div class="button-container">
                    <button class="cancel-button" mat-flat-button routerLink="/candidate-dashboard"
                        color="primary">Cancel</button>
                    <button class="update-button" type="submit" (click)="onSubmit()" mat-flat-button color="primary"
                        [disabled]="!candidateForm.valid">Update</button>
                </div>
            </form>
        </div>
        <div class="accent-border-right"></div>
    </div>
</mat-card>