.mat-table {
  width: 100%;
}

.title-text {
  padding-left: 5px;
  padding-bottom: 15px;
}

.search-input {
  width: 100%;
  margin-top: 1vh;
}

.searchbar {
  margin-bottom: -2vh;
}

th {
  font-family: "proxima-nova-bold";
  font-size: 16px;
  text-align: center;
}

.delete {
  color: red;
}

.view,
.edit, .questionnaire-icon {
  margin-right: 2vw;
}

.skill {
  display: flex;
}

.skill-container {
  display: flex;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.add-button {
  background-color: #272829;
  font-family: "proxima-nova";
  margin-top: 7px;
  font-size: 16px;
  height: 45px;
  width: 165px;
  border-radius: 10px;
}

.heading-one-bold {
  padding-top: 3vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 92vw;
  height: 80vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #e13616 !important;
}

//mat-input focused color

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #e13616 !important;
}

.search-icon {
  padding-left: 5px;
  color: #8b8b8b;
}

.table-container {
  height: 62vh;
  overflow-y: auto;
}

.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-cell {
  font-family: 'proxima-nova';
}

.name-column {
 width: 15%;
}

.email-column {
  width: 20%;
}

.position-column {
  width: 15%;
}

.skill-column {
  width: 25%;
}

.actions-column {
  width: 15%;
}
