.card {
    width: 92vw;
  height: 78vh;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .graph-container {
      height: 100%;
      width: 100%;
      padding-top: 5vh;
  }