<div class="row max-height">
    <form novalidate [formGroup]="formGroup"></form>
    <div class="column">

        <!-- <div class="heading-four-thin open-ended-note"><strong>NOTE:</strong> This question will not automatically be
            marked. A reviewer has to be assigned to the questionnaire for marking.</div> -->


        <div class="skill-container">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Skill</mat-label>
                    <mat-select (closed)="onClose()" [(ngModel)]="question.skillId" name="reviewer" required>
                        <input class="search-input dropdown" (keyup)="reviewerOnKey($event)"
                            [(ngModel)]="searchValueSkill" matInput placeholder="Search for skill">
                        <mat-option class="dropdown" *ngFor="let skill of skillList" [value]="skill.id">{{skill.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.invalid">Skill cannot be empty</mat-error>
                </mat-form-field>
            </div>
            <span class="spacer"></span>
            <div>
                <mat-form-field appearance="outline" class="input-field-container">
                    <mat-label>Skill Level</mat-label>
                    <mat-select [(ngModel)]="selectedSkillLevel" name="level"
                        (selectionChange)="selectionChanged($event)">
                        <mat-option class="dropdown" *ngFor="let skillLevel of skillLevelList" [value]="skillLevel">
                            {{skillLevel}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="marks-duration-container">
            <div>
                <mat-form-field class="input-field-container" appearance="outline">
                    <mat-label>Marks</mat-label>
                    <input matInput class="input" type="number" min=1 max=10 [(ngModel)]="question.marks" required />
                    <mat-error *ngIf="formGroup.invalid">Question should be atleast 1 mark and maximum 10 marks
                    </mat-error>
                </mat-form-field>
            </div>
            <span class="spacer"></span>
            <div>
                <mat-form-field class="input-field-container" appearance="outline">
                    <mat-label>Duration (in seconds)</mat-label>
                    <input matInput class="input" type="number" min=60 max=360 [(ngModel)]="question.time" required />
                    <mat-error *ngIf="formGroup.invalid">Duration should be at least 60 seconds and maximum 300 seconds
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="reviewer-container">
            <mat-form-field class="input-field-container reviewer-input" appearance="outline">
                <mat-label>Assign a reviewer (Feature currently not available)</mat-label>
                <input matInput class="input" type="text" disabled />
            </mat-form-field>
        </div>

    </div>

    <div class="column">

        <div class="text-editor-container">
            <quill-editor [(ngModel)]="question.questionEnglish" placeholder="Type your question here..." class="editor"
                [modules]="quillConfig"></quill-editor>
        </div>

    </div>
</div>

<div class="answers-container">
    <div class="answer-container" *ngFor="let answer of question.multipleAnswers">
        <mat-form-field class="answer-input" appearance="outline">
            <mat-label>Answer</mat-label>
            <input matInput class="answer-input" type="text" [(ngModel)]="answer.answerEnglish" required />
            <mat-error *ngIf="!answer.answerEnglish">Answer cannot be empty</mat-error>
        </mat-form-field>
        <div class="valid-container">
            <mat-slide-toggle [(ngModel)]="answer.value" (change)="changeValueOfAnswer($event, answer.id)">
                <div class="heading-four">Valid answer?</div>
            </mat-slide-toggle>
        </div>
        <button mat-flat-button color="primary" [disabled]="isRemoveButtonDisabled" class="delete-button"
            (click)="removeAnswer(answer.id)">Remove</button>
    </div>
    <button mat-flat-button color="primary" [disabled]="isAddButtonDisabled" class="add-button"
        (click)="addAnswer()">Add answer</button>

</div>