@font-face {
  font-family: proxima-nova;
  src: url("/src/assets/fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: proxima-nova-thin;
  src: url("/src/assets/fonts/Proxima Nova Thin.otf");
}

@font-face {
  font-family: proxima-nova-bold;
  src: url("/src/assets/fonts/Proxima Nova Bold.otf");
}
